
.home-sub-heading{
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.home-title{
    font-size: 2rem;
}
@media screen and (max-width:680px){
    .home-sub-heading{
        flex-direction: column;
        align-items: flex-start;
    }
    .home-title{
        font-size: 0.5rem;
    }
}