:root{
  --text-primary:#000;
  --bgPrimary:#fff;
  --blue:#0071bd;
  --light-blue:#e6f7f2;
  --border:#d9d9d9;
  --bgdark:#001529;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
a{
  text-decoration: none;
}
a:hover{
  color: var(--blue) !important;
}

.app{
  display:flex;

}
.navbar{
  display:flex;
  flex-direction: column;
  background: var(--bgdark);
  height: 100vh;
  padding:1rem;
}
.nav-logo{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.logo-name{
  margin-left: 10px;
}
